###> symfony/framework-bundle ###
/.env*
/auth.json
/package-lock.json
/composer.lock
/package-lock.json
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/easyadmin

/migrations/*
/var
/vendor
/tests
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules
/public/uploads
/public/build

/npm-debug.log
/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> meilisearch bundle ###
/meili_data/
###> meilisearch bundle ###

###> workshop ###
templates/workshop
src/Controller/WorkshopController.php
###> workshop ###

###> personal config files ###
.statics
.vscode
###> personal config files ###

auth.json

### Ignorer les fichiers de sauvegarde ###
*.bak
*.old
*.save
*.swp
*.~